body {
  margin: 0;
  padding: 16px;
}

#container {
  text-align: center;
  margin: 0 auto;
}

.img-container {
  margin: 0 auto;
  height: 400px;
  display: none;
}

.img-container img,
.img-container caption {
  display: block;
}

.img-container img {
  height: 100%;
  margin: 0 auto;
}

.img-container caption {
  margin-top: 12px;
  width: 100%;
}

.img-container.active {
  display: block;
}
