ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.characterSelect button {
  cursor: pointer;
  text-align: left;
  width: 200px;
  margin: 4px;
  padding: 4px 8px;
  appearance: none;
  background: none;
  border: 0;
}

.characterSelect button:hover {
  background: #eee;
}
