html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
}

#container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock {
  font-family: Orbitron, sans-serif;
  font-size: 2rem;
}